#portfolio {
  margin-top: 6rem;
  background: linear-gradient(
    to right bottom,
    rgba(242, 125, 82, 0.699),
    rgba(242, 106, 94, 0.801)
  );
  padding-bottom: 3rem;

  .container {
    padding-top: 4rem;

    .featured-text {
      font-size: 2.5rem;
      color: white;
      text-transform: uppercase;
    }

    .portfolio-top {
      margin-bottom: 0.3rem;
    }

    .portfolio-top--left {
      .right-txt {
        color: black;
        font-weight: 500;
        font-size: 1rem;
        text-transform: uppercase;
      }

      .line {
        padding: 0.1rem 0.2rem;
        background: $gradient2;
        margin-right: 0.3rem;
      }
    }

    .portfolio-top--right {
      ul {
        li {
          color: black;
          list-style: none;
          margin-right: 2rem;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}

.portfolio-projects {
  z-index: 300;
  .featured {
    border-radius: 0.5rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
    cursor: pointer;

    .project-bg {
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in;
    }

    .project-information {
      background: white;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .project-description {
      font-weight: lighter;
      margin-top: 0.4rem;
      margin-bottom: 2rem;
    }

    .project-icons {
      .live-demo {
        padding: 1rem;
        cursor: pointer;
        border: none;
        margin-right: 1.4rem;
        border-radius: 0.5rem;
        background: $gradient1;
        font-weight: 600;
        color: white;
        font-family: "Open Sans", sans-serif;
      }

      .live-demo:hover {
        transition: 0.2s ease-in-out;
        background: #e45670;
      }

      .project-link {
        text-decoration: none;
        color: white;
      }

      .github-code {
        padding: 1rem;
        cursor: pointer;
        border: none;
        margin-right: 1.4rem;
        border-radius: 0.5rem;
        background: $gradient2;
        font-weight: 600;
        color: white;
        font-family: "Open Sans", sans-serif;
      }

      .github-code:hover {
        transition: 0.2s ease-in-out;
        background: #dd3483;
      }
    }
  }
  .featured-one {
    background-image: url(/img/project1preview.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .featured-two {
    background-image: url(/img/featured-two.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .featured-three {
    background-image: url(/img/featured-three.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .featured-four {
    background-image: url(/img/featured-four.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .featured-five {
    background-image: url(/img/featured-five.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .featured-six {
    background-image: url(/img/featured-six.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.active-project {
  color: white !important;
  text-decoration: underline;
  text-decoration-color: $gradient2;
  text-decoration-thickness: 0.2em;
  transition: all 0.3s ease-in-out;
}

.project-darken {
  background: rgba(0, 0, 0, 0.363);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition: 0.3s ease-in;
  visibility: visible;
  opacity: 1;
}

.project-hide {
  display: none !important;
}

@media screen and (max-width: 340px) {
  #portfolio {
    overflow-x: hidden !important;
  }
  .featured-text {
    font-size: 2rem !important;
    color: white;
    text-transform: uppercase;
  }
}
